<div id="app">
    <a class="btn btn-outline-primary" href="/tasks">Back</a>
    <hr />    
    <h1>Task Edit</h1>
    <hr />
    <form action="/tasks/update" method="post">
        <div>
            <input type="hidden" name="id" size="30" maxlength="40"
            value="<%= task._id %>" required>
            <p>
                <label>Title :
                <input type="text" name="title" size="30" maxlength="40"
                value="<%= task.title %>" required>
                </label>
            </p>
        </div>
        <div>
            <label>Content :</label>
            <input type="text" name="content" 
            value="<%= task.content %>" required />
        </div>
        <hr />
        <div>
            <input class="btn btn-primary" type="submit" value="Save"/>
        </div>
    </form>    
    <hr />
    <form action="/tasks/delete" method="post">
        <div>
            <input type="hidden" name="id" value="<%= task._id %>" required>                
            <input class="btn btn-danger" type="submit" value="Delete"/>
        </div>
    </form>
</div>


