<div id="app">
    <a class="btn btn-outline-primary" href="/tasks">Back</a>
    <hr />
    <h1>Task add</h1>
    <hr />
    <form action="/tasks/add" method="post">
        <div>
            <p>
                <label>Title :
                <input type="text" name="title" size="30" maxlength="40" required>
                </label>
            </p>
        </div>
        <div>
            <label>Content :</label>
            <input type="text" name="content" required />
        </div>
        <hr />
        <div>
            <input class="btn btn-outline-primary" type="submit" value="Save"/>
        </div>
    </form>    
</div>

